<!-- <p-button (click)="showDialog()" icon="pi pi-external-link" label="Add New Service"></p-button> -->

<p-toolbar class="m-2">

    <div class="p-toolbar-group-start">
        <button pButton > Model Details</button>
    </div>
    <div class="p-toolbar-group-end">
        <button pButton icon="pi pi-plus" (click)="showDialog()">Add New Model</button>
    </div>
</p-toolbar>

<div class="card">
    <p-table [value]="records" [(selection)]="selectedRecords" dataKey="code" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th fd-table-cell>ID </th>
                <th fd-table-cell>modelServ.Spec</th>
                <th fd-table-cell>blockingIndicator</th>
                <th fd-table-cell>ServiceSelection</th>
                <th fd-table-cell>Description</th>
                <th fd-table-cell>SearchTerm</th>
                <th fd-table-cell>Currency</th>
                <!-- <th fd-table-cell>PurchaseOrgnization</th>
                <th fd-table-cell>Contract</th> -->
                <th fd-table-cell>Services</th>
                <th fd-table-cell>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-record>
            <tr>
                <td>
                    <p-tableCheckbox [value]="record"></p-tableCheckbox>
                </td>
                <td><span *ngIf="!editMode">{{record.modelSpecCode}}</span><input *ngIf="editMode" [(ngModel)]="record.id"></td>
                
                <td><span *ngIf="!editMode">{{record.modelServSpec}}</span><input *ngIf="editMode" [(ngModel)]="record.modelServSpec"></td>
                <td><span *ngIf="!editMode">{{record.blockingIndicator}}</span><input *ngIf="editMode" type="checkbox" [(ngModel)]="record.blockingIndicator"></td>
                <td><span *ngIf="!editMode">{{record.serviceSelection}}</span><input *ngIf="editMode" type="checkbox" [(ngModel)]="record.serviceSelection"></td>
                <td><span *ngIf="!editMode">{{record.description}}</span><input *ngIf="editMode" [(ngModel)]="record.description"></td>
                <td><span *ngIf="!editMode">{{record.searchTerm}}</span><input *ngIf="editMode" [(ngModel)]="record.searchTerm"></td>
                <td><span *ngIf="!editMode">{{record.currencyCode}}</span><input *ngIf="editMode" [(ngModel)]="record.currencyCode"></td>
                <!-- <td><span *ngIf="!editMode">{{record.purchaseOrgnization}}</span><input *ngIf="editMode" [(ngModel)]="record.purchaseOrgnization"></td>
                <td><span *ngIf="!editMode">{{record.contract}}</span><input *ngIf="editMode" [(ngModel)]="record.contract"></td> -->
<!-- Repeat this for other editable fields -->
                <!-- <td><span>{{record.id}}</span></td>
                <td><span>{{record.modelServSpec}}</span></td>
                <td><span>{{record.blockingIndicator}}</span></td>
                <td><span>{{record.serviceSelection}}</span></td>
                <td><span>{{record.description}}</span></td>
                <td><span>{{record.searchTerm}}</span></td>
                <td><span>{{record.purchaseOrgnization}}</span></td>
                <td><span>{{record.contract}}</span></td> -->
                <td> <button pButton (click)="navigateServices(record)" icon="pi pi-external-link" size="small" label="Services"></button>
                </td>
                <td>
                    <p-button  *ngIf="editMode" icon="pi pi-check" severity="success" (click)="saveRecord(record.id,record)"></p-button>
                    <p-button *ngIf="!editMode" icon="pi pi-file-edit" severity="success" (click)="editMode = true" ></p-button>
                    <p-button  icon="pi pi-trash" severity="danger" (click)="deleteRecord(record)" ></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>



<!-- <p-dialog header="Add Model" [(visible)]="modalVisible" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }"
    [draggable]="false" [resizable]="false">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="form-group">
            <label for="id">Id:</label>
            <div class="input-group">
                <input id="id" name="id" type="number" required class="form-control" ngModel>
            </div>
        </div>
        <div class="form-group">
            <label for="modelServSpec">ModelServSpec:</label>
            <div class="input-group">
                <input id="modelServSpec" name="modelServSpec" required type="text" class="form-control" ngModel>
            </div>
        </div>
        <div class="form-group">
            <label for="blockingIndicator">BlockingIndicator:</label>
            <div class="input-group">
                <input id="blockingIndicator" name="blockingIndicator" type="checkbox" ngModel>
            </div>
        </div>
        <div class="form-group">
            <label for="serviceSelection">ServiceSelection:</label>
            <div class="input-group">
                <input id="serviceSelection" name="serviceSelection" type="checkbox" ngModel>
            </div>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <div class="input-group">
                <input id="description" name="description" required type="text" class="form-control" ngModel>
            </div>
        </div>
        <div class="form-group">
            <label for="searchTerm">SearchTerm:</label>
            <div class="input-group">
                <input id="searchTerm" name="searchTerm" type="text" class="form-control" ngModel>
            </div>
        </div>
        <div class="form-group">
            <label for="purchaseOrgnization">PurchaseOrgnization:</label>
            <div class="input-group">
                <input id="purchaseOrgnization" name="purchaseOrgnization" type="text" class="form-control" ngModel>
            </div>
        </div>
        <div class="form-group">
            <label for="contract">Contract:</label>
            <div class="input-group">
                <input id="contract" name="contract" type="text" class="form-control" ngModel>
            </div>
        </div>
        <div class=" text-center m-3">
            <button pButton data-dismiss="modal" icon="pi pi-save" [disabled]="!f.valid">Add Model</button>
        </div>
    </form>
</p-dialog> -->


    <!-- <p-dialog header="Delete Model" [(visible)]="deleteDialog" [style]="{width: '50vw'}">
        <h2>
            Are you sure you want to delete?
        </h2>
        <div class=" text-center m-3">
        <p-button  icon="pi pi-trash" la severity="danger" label="Delete" (click)="deleteRecord()" ></p-button>
       </div>
    </p-dialog> -->
