
<div class="card">
    <p-toast></p-toast>
    <p-steps [model]="items" [readonly]="true"></p-steps>
</div>
<!-- 
<p-button label="Formulas" (onClick)="getApiRecords()" ></p-button> -->

<router-outlet></router-outlet>

<!-- <a [routerLink]="['create']" [disabled]="!isFormValid">Create</a>
<a [routerLink]="['parameter']" [disabled]="!isFormValid">Set Parameters</a>
<a [routerLink]="['relation']" [disabled]="!isFormValid">Relation</a>
<a [routerLink]="['test']" [disabled]="!isFormValid">Test</a> -->