
<form (ngSubmit)="onSubmit(f)" #f="ngForm" >
    <div class="row m-2">
        <!-- <div class="field col-12 md:col-3">
            <label for="id">Service Number(ID):</label>
            <input id="serviceNumberCode" name="serviceNumberCode" type="number" [(ngModel)]="selectedRecord.serviceNumberCode" ngModel 
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div> -->
        <div class="field col-12 md:col-3">
            <label for="id">Service Number(ID):</label>
            <input id="serviceNumberCode" name="serviceNumberCode" type="number" [(ngModel)]="selectedRecord.serviceNumberCode" [ngModel]="isSaving ?  savedRecord.serviceNumberCode :  selectedRecord.serviceNumberCode"
              (ngModelChange)="isSaving ? savedRecord.serviceNumberCode = $event : null" ngModel 
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
              [disabled]="true">
          </div>
        <div class="field col-12 md:col-3">
            <label for="code">SearchTerm:<span style="color: red;">*</span></label>
                   <!-- will be renamed to searchTerm in New Deployment -->
            <input id="searchTerm" name="searchTerm" required type="text" [(ngModel)]="selectedRecord.searchTerm" ngModel 
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">

        </div>
        <div class="field col-12 md:col-3">
            <label for="description">Description:<span style="color: red;">*</span></label>

            <input id="description" name="description" required type="text" [(ngModel)]="selectedRecord.description" ngModel 
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">

        </div>
        <div class="field col-12 md:col-3">
            <label for="serviceText">Service Text:</label>

            <input id="serviceText" name="serviceText"  type="text" [(ngModel)]="selectedRecord.serviceText" ngModel 
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">

        </div>
    </div>
    <div class="row m-2">
        <div class="field col-12 md:col-4">
            <label for="shortTextChangeAllowed">Short Text Change Allowed:</label>
            <div class="input-group">
                <input id="shortTextChangeAllowed" name="shortTextChangeAllowed" type="checkbox" [(ngModel)]="selectedRecord.shortTextChangeAllowed" ngModel  >
            </div>
        </div>
        <div class="field col-12 md:col-4">
            <label for="deletionIndicator">Deletion Indicator:</label>
            <div class="input-group">
                <input id="deletionIndicator" name="deletionIndicator" type="checkbox" [(ngModel)]="selectedRecord.deletionIndicator" ngModel  >
            </div>
        </div>
    </div>

    <div class="row m-2">
        <div class="field col-12 md:col-4">
            <p-dropdown [options]="recordsServiceType" [required]=true [(ngModel)]="selectedRecord.serviceTypeCode"  [ngModelOptions]="{standalone: true}"
            optionValue="serviceTypeCode" optionLabel="serviceId"
                [filter]="true" [filterFields]="['serviceId','description']" [showClear]="true"  placeholder="Select a ServiceType">
                <ng-template let-record pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <div>{{ record.serviceId }}::{{ record.description }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            <span style="color: red;margin: 5px;">*</span>
        </div>
        <div class="field col-12 md:col-4">

            <p-dropdown [options]="recordsMeasure" [(ngModel)]="selectedRecord.baseUnitOfMeasurement"  [ngModelOptions]="{standalone: true}"
            optionValue="code" optionLabel="code" 
                [filter]="true" [filterFields]="['code','description']" [showClear]="true"
                 placeholder="Select Base UnitOfMeasure"
                 >
                <ng-template let-record pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <div>{{ record.code }}::{{ record.description }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            <span style="color: red;margin: 5px;">*</span>
        </div>
    </div>

    <h3>Control Data:</h3>
    <hr>
    <div class="row m-2">
        <label for="numberToBeConverted">Conversion:</label>
        <div class="field col-12 md:col-2">

            <input id="numberToBeConverted" name="numberToBeConverted"  type="number" [(ngModel)]="selectedRecord.numberToBeConverted" ngModel  
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-3">
            <p-dropdown [options]="recordsMeasure" [(ngModel)]="selectedRecord.toBeConvertedUnitOfMeasurement"  [ngModelOptions]="{standalone: true}"
            optionValue="code" optionLabel="code"
                [filter]="true" [filterFields]="['code','description']" [showClear]="true" placeholder="Select an UnitOfMeasure">
                <ng-template let-record pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <div>{{ record.code }}::{{ record.description }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="field col-12 md:col-2">
            <input id="convertedNumber" name="convertedNumber"  type="number" [(ngModel)]="selectedRecord.convertedNumber" ngModel 
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-3">
            <p-dropdown [options]="recordsMeasure" [(ngModel)]="selectedRecord.defaultUnitOfMeasurement"  [ngModelOptions]="{standalone: true}"
            optionValue="code" optionLabel="code"
                [filter]="true" [filterFields]="['code','description']" [showClear]="true" placeholder="Select Converted UnitOfMeasure">
                <ng-template let-record pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <div>{{ record.code }}::{{ record.description }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
    </div>
    <div class="row m-2">
        <div class="field col-12 md:col-4">
            <label for="mainItem" >Main Item:</label>
            <div class="input-group">
                <input id="mainItem" name="mainItem" type="checkbox" [(ngModel)]="selectedRecord.mainItem" ngModel >
            </div>
        </div>
    </div>
    <div class="row m-2">
        <div class="field col-12 md:col-4">
            <p-dropdown [options]="recordsFormula" [(ngModel)]="selectedRecord.formulaCode"  [ngModelOptions]="{standalone: true}"
            optionValue="formulaCode" optionLabel="formula"
                [filter]="true" [filterFields]="['formula','description']" [showClear]="true" placeholder="Select Formula">
                <ng-template let-record pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <div>{{ record.formula }}::{{ record.description }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="field col-12 md:col-4">

            <p-dropdown [options]="recordsMaterialGrp" [(ngModel)]="selectedRecord.materialGroupCode"  [ngModelOptions]="{standalone: true}" 
            optionValue="materialGroupCode" optionLabel="code"
                [filter]="true" [filterFields]="['code','description']" [showClear]="true" placeholder="Select Material/Service Grp">
                <ng-template let-record pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <div>{{ record.code }}::{{ record.description }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
    </div>
    <!-- <div class="row m-2">

        <div class="field col-12 md:col-4">
            <label for="state">Formula:</label>
            <select id="state"
                class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
                style="appearance: auto">
                <option>Arizona</option>
                <option>California</option>
                <option>Florida</option>
                <option>Ohio</option>
                <option>Washington</option>
            </select>
        </div>
        <div class="field col-12 md:col-4">
            <label for="state">Material/Service Grp:</label>
            <select id="state"
                class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
                style="appearance: auto">
                <option>Arizona</option>
                <option>California</option>
                <option>Florida</option>
                <option>Ohio</option>
                <option>Washington</option>
            </select>
        </div>

    </div> -->
    <p-messages position="top-left" *ngIf="addMessage" [(value)]="messageAdd" [enableService]="false"></p-messages>
    
    <p-messages position="top-left" *ngIf="updateMessage" [(value)]="messageUpdate" [enableService]="false"></p-messages>
    <div class=" text-center m-3">
        <!-- <button pButton data-dismiss="modal" icon="pi pi-save" [disabled]="!f.valid">Save</button> -->
        <button pButton [disabled]="!f.valid">{{ editMode ?
            'Update' : 'Add' }}
        </button>
    </div>
</form>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>


