<p-messages position="top-left" *ngIf="successMessage" [(value)]="messages" [enableService]="false"></p-messages>
<!-- <p-toast position="top-left" ></p-toast> -->

<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="row">
        <div class="form-group col-6">
            <label for="id">Id:</label>
            <div class="input-group">
                <input id="id" name="id" type="number" required class="form-control" ngModel>
            </div>
        </div>
        <div class="form-group col-6">
            <label for="modelServSpec">ModelServSpec:</label>
            <div class="input-group">
                <input id="modelServSpec" name="modelServSpec" required type="text" class="form-control" ngModel>
            </div>
        </div>
    </div>
    <div class="row m-2">
        <div class="form-group">
            <label for="blockingIndicator">BlockingIndicator:</label>
            <div class="input-group">
                <input id="blockingIndicator" name="blockingIndicator" type="checkbox" ngModel>
            </div>
        </div>
        <div class="form-group">
            <label for="serviceSelection">ServiceSelection:</label>
            <div class="input-group">
                <input id="serviceSelection" name="serviceSelection" type="checkbox" ngModel>
            </div>
        </div>
    </div>

    <div class="row m-2">

        <h3>General Data:</h3>
        <div class="form-group">
            <label for="description">Description:</label>
            <div class="input-group">
                <input id="description" name="description" required type="text" class="form-control" ngModel>
            </div>
        </div>
        <div class="form-group">
            <label for="searchTerm">SearchTerm:</label>
            <div class="input-group">
                <input id="searchTerm" name="searchTerm" type="text" class="form-control" ngModel>
            </div>
        </div>

    </div>
    <div class="row m-2">
        <h3>Default Data for purchase requisition:</h3>
        <div class="form-group">
            <label for="purchaseOrgnization">PurchaseOrgnization:</label>
            <div class="input-group">
                <input id="purchaseOrgnization" name="purchaseOrgnization" type="text" class="form-control" ngModel>
            </div>
        </div>
        <div class="form-group">
            <label for="contract">Contract:</label>
            <div class="input-group">
                <input id="contract" name="contract" type="text" class="form-control" ngModel>
            </div>
        </div>
    </div>
    <div class=" text-center m-3">
        <button pButton data-dismiss="modal" icon="pi pi-save" [disabled]="!f.valid">Add Model</button>
    </div>
</form>